/* デフォルトスタイル */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #000;
    color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__search-box {
    border: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__button {
    all: unset;
    cursor: pointer;
}

.header__link--sell {
    background-color: #fff;
    color: #000;
    border: none;
}

.error-message {
    color: red;
}

/* PC画面時(1400-1540px) */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        padding: 10px 0px;
    }

    .header__container {
        max-width: calc(100% - 40px);
        height: 60px;
    }

    .header__logo img {
        width: 370px;
        height: 60px;
    }

    .header__search-box {
        padding: 5px 30px;
        font-size: 1.5rem;
        width: 400px;
        height: 40px;
        border-radius: 5px;
    }

    .header__nav {
        width: 370px;
        height: 60px;
    }

    .header__link {
        font-size: 1.5rem;
    }

    .header__button {
        font-size: 1.5rem;
    }

    .header__link--sell {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .error-message {
        font-size:1rem;
        margin-top: 10px;
    }
}

/* タブレット画面時(768-850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        padding: 5px 0px;
    }
    .header__container {
        max-width: calc(100% - 20px);
        height: 40px;
    }

    .header__logo img {
        width: 200px;
        height: 40px;
    }

    .header__search-box {
        padding: 5px 20px;
        font-size: 0.8rem;
        width: 200px;
        height: 20px;
        border-radius: 3px;
        border: none;
    }

    .header__nav {
        width: 200px;
        height: 40px;
    }

    .header__link {
        font-size: 0.8rem;
    }

    .header__button {
        font-size: 0.8rem
    }

    .header__link--sell {
        padding: 8px 12px;
        border-radius: 3px;
    }

    .error-message {
        font-size: 0.5rem;
        margin-top: 5px;
    }
}
