/* PC画面時(1400-1540px) */
.register {
    width: 680px;
    margin: 100px auto;
}

.register__form {
    margin-top: 50px;
}

.register__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.register__form-group {
    display: flex;
    flex-direction: column;
}

.register__form-group:not(:nth-of-type(1)) {
    margin-top: 30px;
}

.register__label {
    font-size: 1.5rem;
}

.register__input {
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.register__button {
    background-color: #ff5a5a;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 70px;
    width: 100%;
}

.register__button:hover {
    background-color: #e14a4a;
}

.register__login-link {
    text-align: center;
    margin-top: 30px;
}

.register__login-link a {
    color: #007bff;
    font-size: 1.2rem;
    text-decoration: none;
}

.register__login-link a:hover {
    text-decoration: underline;
}

/* タブレット画面時(768-850px) */
@media screen and (max-width: 850px) {
    .register {
        width: 370px;
        margin: 60px auto;
    }

    .register__form {
        margin-top: 20px;
    }

    .register__title {
        font-size: 1.1rem;
    }

    .register__form-group:not(:nth-of-type(1)) {
        margin-top: 15px;
    }

    .register__label {
        font-size: 0.8rem;
    }

    .register__input {
        padding: 5px;
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .register__button {
        font-size: 0.8rem;
        padding: 5px;
        margin-top: 40px;
    }

    .register__login-link {
        margin-top: 20px;
    }

    .register__login-link a {
        font-size: 0.7rem;
    }
}