/* PC画面時(1400-1540px) */
.tabs {
    border-bottom: 2px solid #666;
    padding: 10px 100px;
    margin-top: 50px;
}

.tabs__container {
    max-width: 1400px;
    margin: 0 auto;
}

.tabs__tab {
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #666;
    font-size: 1.5rem;
}

.tabs__tab--active {
    color: red;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.product-grid__item {
    width: 300px;
}

.product-grid__image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.product-grid__image a {
    text-decoration: none;
    color: inherit;
}

.product-grid__image a img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.product-grid__label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.product-grid__name {
    font-size: 1.5rem;
}

/* タブレット画面時(768-850px) */
@media screen and (max-width: 850px) {
    .tabs {
        border-bottom: 1px solid #666;
        padding: 5px 50px;
        margin-top: 30px;
    }

    .tabs__container {
        max-width: 768px;
    }

    .tabs__tab {
        margin-right: 30px;
        font-size: 0.8rem;
    }

    .product-grid {
        gap: 20px;
        padding: 20px;
        max-width: 768px;
    }

    .product-grid__item {
        width: 167px;
    }

    .product-grid__image {
        width: 167px;
        height: 167px;
        font-size: 1.5rem;
    }

    .product-grid__image a img {
        width: 167px;
        height: 167px;
    }

    .product-grid__label {
        top: 5px;
        right: 5px;
        padding: 3px 6px;
        font-size: 1rem;
    }

    .product-grid__name {
        font-size: 0.8rem;
    }
}
