/* PC画面時(1400-1540px) */
.purchase {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 80px auto;
    padding: 0 50px;
}

/* セッションメッセージ */
.error {
    padding: 10px 20px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
}

.error span {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    color: #842029;
}

/* バリデーションエラー */
.error-message {
    display: block;
    color: red;
    font-size:1rem;
    margin-top: 5px;
    margin-left: 80px;
}

/* 購入商品 */
.purchase__item {
    display: flex;
    width: 650px;
}

.purchase__form {
    width: 650px;
}

.purchase__item-image {
    width: 250px;
    height: 250px;
}

.purchase__item-details {
    width: 400px;
    text-align: left;
    padding-left: 40px;
    font-size: 2.5rem;
}

.purchase__item-name {
    font-weight: bold;
}

.purchase__item-price {
    margin-top: 30px;
}

/* 支払い方法 */
.purchase__payment {
    border-bottom: 1px solid #000;
    padding: 30px 30px 60px;
}

.purchase__payment-method {
    position: relative;
}

.purchase__payment-method:after {
    content: "";
    position: absolute;
    right: 250px;
    top: 80%;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #999;
    pointer-events: none;
}

.purchase__payment-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.purchase__payment-select {
    width: 270px;
    padding: 5px 10px;
    border-color: #999;
    color: #777;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

/* 配送先 */
.purchase__shipping {
    border-bottom: 1px solid #000;
    padding: 30px 30px 60px;
    position: relative;
}

.purchase__shipping-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.purchase__shipping-address {
    margin-left: 80px;
    margin-top: 40px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.purchase__shipping-change {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
}

.purchase__shipping-change:hover {
    text-decoration: underline;
}

/* 購入概要 */
.purchase__summary {
    width: 650px;
    margin: 60px auto;
}

.purchase__summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.purchase__summary-item:nth-of-type(1) {
    border: 1px solid #000;
}

.purchase__summary-item:nth-of-type(2),
.purchase__summary-item:nth-of-type(3),
.purchase__summary-item:nth-of-type(4) {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.purchase__summary-label {
    font-size: 1.5rem;
}

.purchase__summary-name,
.purchase__summary-price,
.purchase__summary-method {
    font-size: 2rem;
    font-weight: bold;
}

.purchase__summary-shipping {
    font-size: 1.5rem;
    font-weight: bold;
}

.purchase__buy-button {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff5a5a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
}

.purchase__buy-button:hover {
    background-color: #e14a4a;
}

/* タブレット画面時(768-850px) */
@media screen and (max-width: 850px) {
    .purchase {
        padding: 0 30px;
        max-width: 768px;
        margin: 50px auto;
    }

    /* セッションエラー */
    .error {
        padding: 5px 20px;
    }

    .error span {
        font-size: 0.5rem;
        max-width: 768px;
    }

    /* バリデーションエラー */
    .error-message {
        font-size:0.5rem;
        margin-top: 5px;
        margin-left: 50px;
    }

    /* 購入商品 */
    .purchase__item {
        width: 324px;
    }

    .purchase__form {
        width: 324px;
    }

    .purchase__item-image {
        width: 124px;
        height: 124px;
    }

    .purchase__item-details {
        width: 200px;
        padding-left: 20px;
        font-size: 1.3rem;
    }

    .purchase__item-price {
        margin-top: 20px;
    }

    /* 支払い方法 */
    .purchase__payment {
        padding: 20px 20px 30px;
    }

    .purchase__payment-method:after {
        content: "";
        position: absolute;
        right: 90px;
        top: 83%;
        transform: translateY(-50%);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #999;
        pointer-events: none;
    }

    .purchase__payment-title {
        font-size: 0.8rem;
    }

    .purchase__payment-select {
        width: 150px;
        padding: 2px 6px;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 0.6rem;
    }

    /* 配送先 */
    .purchase__shipping {
        padding: 20px 20px 30px;
    }

    .purchase__shipping-title {
        font-size: 0.8rem;
    }

    .purchase__shipping-address {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 0.8rem;
        line-height: 1.0;
    }

    .purchase__shipping-change {
        top: 20px;
        right: 20px;
        font-size: 0.7rem;
    }

    /* 購入概要 */
    .purchase__summary {
        width: 324px;
        margin: 40px auto;
    }

    .purchase__summary-item {
        padding: 20px;
    }

    .purchase__summary-label {
        font-size: 0.8rem;
    }

    .purchase__summary-name,
    .purchase__summary-price,
    .purchase__summary-method {
        font-size: 1.2rem;
    }

    .purchase__summary-shipping {
        font-size: 0.8rem;
    }

    .purchase__buy-button {
        padding: 5px;
        font-size: 1rem;
        margin-top: 40px;
    }
}