/* デフォルトスタイル */
.purchase {
    padding: 5.33vw;
}

/* セッションメッセージ */
.error {
    border-color: #f5c2c7;
    background-color: #f8d7da;
    padding: 0.67vw 1.33vw;
}

.error span {
    display: block;
    margin: 0 auto;
    color: #842029;
    font-size: 1.07vw;
}

/* バリデーションエラー */
.error-message {
    display: block;
    margin-left: 5.33vw;
}

/* 購入商品 */
.purchase__item {
    display: flex;
    border-bottom: 0.07vw solid #000;
    width: 55vw;
    padding-bottom: 2vw;
}

.purchase__form {
    width: 55vw;
}

.purchase__item-image {
    width: 12vw;
    aspect-ratio: 1 / 1;
}

.purchase__item-details {
    text-align: left;
    width: 85.3vw;
    padding-left: 2.67vw;
    font-size: 2.67vw;
}

.purchase__item-price {
    margin-top: 2vw;
}

.purchase__item-name {
    font-weight: bold;
}

/* 支払い方法 */
.purchase__payment {
    border-bottom: 0.07vw solid #000;
    padding: 2vw 2vw 4vw;
}

.purchase__payment-method {
    position: relative;
}

.purchase__payment-method:after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    left: 22vw;
    top: 80%;
    border-left: 0.4vw solid transparent;
    border-right: 0.4vw solid transparent;
    border-top: 0.8vw solid #999;
}

.purchase__payment-title {
    font-weight: bold;
    font-size: 1.6vw;
}

.purchase__payment-select {
    border-color: #999;
    color: #777;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 18vw;
    padding: 0.33vw 0.67vw;
    border-radius: 0.33vw;
    margin-left: 5.33vw;
    margin-top: 2.67vw;
    font-size: 1.07vw;
}

/* 配送先 */
.purchase__shipping {
    position: relative;
    border-bottom: 0.07vw solid #000;
    padding: 2vw 2vw 4vw;
}

.purchase__shipping-title {
    font-weight: bold;
    font-size: 1.6vw;
}

.purchase__shipping-address {
    line-height: 1.5;
    margin-left: 5.33vw;
    margin-top: 2.67vw;
    font-size: 1.6vw;
}

.purchase__shipping-change {
    position: absolute;
    color: #007bff;
    text-decoration: none;
    top: 2vw;
    right: 2vw;
    font-size: 1.28vw;
}

.purchase__shipping-change:hover {
    text-decoration: underline;
}

/* 購入概要 */
.purchase__summary {
    position: absolute;
    width: 29.3vw;
    top: 10.7vw;
    right: 5.33vw;
}

.purchase__summary-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.67vw 0;
}

.purchase__summary-item:nth-of-type(1) {
    border: 0.07vw solid #000;
}

.purchase__summary-item:nth-of-type(2) {
    border-right: 0.07vw solid #000;
    border-left: 0.07vw solid #000;
    border-bottom: 0.07vw solid #000;
}

.purchase__summary-label {
    font-size: 1.39vw;
}

.purchase__summary-price,
.purchase__summary-method {
    font-size: 1.71vw;
}

.purchase__buy-button {
    width: 100%;
    color: #fff;
    background-color: #ff5a5a;
    border: none;
    cursor: pointer;
    padding: 0.67vw;
    font-size: 1.6vw;
    border-radius: 0.33vw;
    margin-top: 4vw;
}

.purchase__buy-button:hover {
    background-color: #e14a4a;
}

/* PC画面時(1400-1540px) */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .purchase {
        padding: 80px;
    }

    /* セッションメッセージ */
    .error {
        padding: 10px 20px;
    }

    .error span {
        font-size: 1rem;
    }

    /* バリデーションエラー */
    .error-message {
        margin-left: 80px;
    }

    /* 購入商品 */
    .purchase__item {
        border-bottom: 1px solid #000;
        width: calc(100% - 520px);
        padding-bottom: 30px;
    }

    .purchase__form {
        width: calc(100% - 520px);
    }

    .purchase__item-image {
        width: 180px;
    }

    .purchase__item-details {
        width: calc(100% - 220px);
        padding-left: 40px;
        font-size: 2.5rem;
    }

    .purchase__item-price {
        margin-top: 30px;
    }

    /* 支払い方法 */
    .purchase__payment {
        border-bottom: 1px solid #000;
        padding: 30px 30px 60px;
    }

    .purchase__payment-method:after {
        left: 330px;
        top: 80%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #999;
    }

    .purchase__payment-title {
        font-size: 1.5rem;
    }

    .purchase__payment-select {
        width: 270px;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 80px;
        margin-top: 40px;
        font-size: 1rem;
    }

    /* 配送先 */
    .purchase__shipping {
        padding: 30px 30px 60px;
    }

    .purchase__shipping-title {
        font-size: 1.5rem;
    }

    .purchase__shipping-address {
        margin-left: 80px;
        margin-top: 40px;
        font-size: 1.5rem;
    }

    .purchase__shipping-change {
        top: 30px;
        right: 30px;
        font-size: 1.2rem;
    }

    /* 購入概要 */
    .purchase__summary {
        width: 440px;
        top: 160px;
        right: 80px;
    }

    .purchase__summary-item {
        padding: 40px 0;
    }

    .purchase__summary-item:nth-of-type(1) {
        border: 1px solid #000;
    }

    .purchase__summary-item:nth-of-type(2) {
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .purchase__summary-label {
        font-size: 1.3rem;
    }

    .purchase__summary-price,
    .purchase__summary-method {
        font-size: 1.6rem;
    }

    .purchase__buy-button {
        padding: 10px;
        font-size: 1.5rem;
        border-radius: 5px;
        margin-top: 60px;
    }
}


/* タブレット画面時(768-850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .purchase {
        padding: 40px;
    }

    /* セッションエラー */
    .error {
        padding: 5px 10px;
    }

    .error span {
        font-size: 0.5rem;
    }

    /* バリデーションエラー */
    .error-message {
        margin-left: 50px;
    }

    /* 購入商品 */
    .purchase__item {
        width: calc(100% - 300px);
        padding-bottom: 20px;
    }

    .purchase__form {
        width: calc(100% - 300px);
    }

    .purchase__item-image {
        width: 100px;
        aspect-ratio: 1 / 1;
    }

    .purchase__item-details {
        width: calc(100% - 120px);
        padding-left: 20px;
        font-size: 1.3rem;
    }

    .purchase__item-price {
        margin-top: 20px;
    }

    /* 支払い方法 */
    .purchase__payment {
        padding: 20px 20px 30px;
    }

    .purchase__payment-method:after {
        left: 185px;
        top: 83%;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #999;
    }

    .purchase__payment-title {
        font-size: 0.8rem;
    }

    .purchase__payment-select {
        width: 150px;
        padding: 2px 6px;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 0.6rem;
        border-radius: 3px;
    }

    /* 配送先 */
    .purchase__shipping {
        border-bottom: 1px solid #000;
        padding: 20px 20px 30px;
    }

    .purchase__shipping-title {
        font-size: 0.8rem;
    }

    .purchase__shipping-address {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 0.8rem;
    }

    .purchase__shipping-change {
        top: 20px;
        right: 20px;
        font-size: 0.7rem;
    }

    /* 購入概要 */
    .purchase__summary {
        width: 260px;
        top: 90px;
        right: 40px;
    }

    .purchase__summary-item {
        padding: 20px 0;
    }

    .purchase__summary-label {
        font-size: 0.7rem;
    }

    .purchase__summary-price,
    .purchase__summary-method {
        font-size: 0.9rem;
    }

    .purchase__buy-button {
        padding: 5px;
        font-size: 1rem;
        margin-top: 40px;
        border-radius: 3px;
    }
}