/* PC画面時(1400-1540px) */
.listing {
    width: 680px;
    margin: 60px auto;
}

.listing__title {
    font-size: 2.5rem;
    text-align: center;
}

/* 商品画像 */
.listing__section--image {
    margin-top: 50px;
}

.listing__subtitle {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #bbb;
    padding-bottom: 10px;
    margin-top: 60px;
    color: #888;
}

.listing__image-upload {
    border: 2px dashed #bbb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    margin-top: 10px;
}

.listing__image-button {
    border: 2px solid #ff6f61;
    color: #ff6f61;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.listing__image-button:hover {
    background-color: #ff4c4c;
}

.listing__image-button input[type="file"] {
    display: none;
}

/* 商品の詳細 */
.listing__section--details {
    margin-top: 80px;
}

/* カテゴリー */
.listing__category {
    margin-top: 40px;
}

.listing__category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.listing__category-item {
    display: inline-block;
    color: #ff6f61;
    border: 2px solid #ff6f61;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.listing__category-item input[type="radio"] {
    display: none;
}

/* 商品の状態 */
.listing__condition {
    margin-top: 80px;
}

.listing__select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
}

/* 商品名と説明 */
.listing__section--description {
    margin-top: 80px;
}

.listing__field {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.listing__label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.listing__input,
.listing__textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-top: 10px;
}

.listing__textarea {
    height: 150px;
    resize: vertical;
}

/* 出品ボタン */
.listing__submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff6f61;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}

.listing__submit-button:hover {
    background-color: #e14a4a;
}

@media screen and (max-width: 850px) {
    .listing {
        width: 400px;
        margin: 40px auto;
    }

    .listing__title {
        font-size: 1.5rem;
    }

    /* 商品画像 */
    .listing__section--image {
        margin-top: 30px;
    }

    .listing__subtitle {
        font-size: 1.2rem;
        padding-bottom: 5px;
        margin-top: 40px;
    }

    .listing__image-upload {
        padding: 40px 0;
        margin-top: 5px;
    }

    .listing__image-button {
        padding: 5px 15px;
        font-size: 0.6rem;
    }

    /* 商品の詳細 */
    .listing__section--details {
        margin-top: 50px;
    }

    /* カテゴリー */
    .listing__category {
        margin-top: 30px;
    }

    .listing__category-items {
        gap: 10px;
        margin-top: 30px;
    }

    .listing__category-item {
        font-size: 0.6rem;
    }

    /* 商品の状態 */
    .listing__condition {
        margin-top: 50px;
    }

    .listing__select {
        padding: 8px;
        font-size: 0.6rem;
        margin-top: 5px;
    }

    /* 商品名と説明 */
    .listing__section--description {
        margin-top: 50px;
    }

    .listing__field {
        margin-top: 30px;
    }

    .listing__label {
        font-size: 0.9rem;
    }

    .listing__input,
    .listing__textarea {
        padding: 8px;
        font-size: 0.6rem;
        margin-top: 5px;
    }

    .listing__textarea {
        height: 80px;
    }

    /* 出品ボタン */
    .listing__submit-button {
        font-size: 0.8rem;
        margin-top: 60px;
    }
}